.Header
  .Header__content
    .Header__content--name Renatus Co., Ltd
    .Header__content--list PHILOSOPHY GREETING WORKS RECRUIT ABOUT ACCESS CONTACT
  .Header__title "  NEXT GATE  "

 


.Body
  .Body__content--1 
    %p PHILOSOPHY  
    %p Renatus は、「生まれ変わる、再生する (reborn)」を意味する
  .Body__content--2 
    %p GREETING
    %p エンターテインメント × テクノロジーで、日本から世界中に「夢中」を届ける
    %p Renatuss株式会社 代表取締役社長 DISK
  .Body__content--3 
    %p WORKS
    %p SES事業として、エンジニア未経験者の雇用の創出とその先に自分で物事を生み出すことができる今後の時代に必要な人財の排出をします。また、自社の目標としては、業界No1のエンジニア集団を作ります。
  .Body__content--4 
    %p RECRUIT
    %p エンジニアを募集しております。
  .Body__content--5 
    %p ABOUT
    %p 
  .Body__content--6
    %p ACCESS
    %p
  .Body__content--7
    %p CONTACT
    %p

.footer

-# .Contents
-#   .Contents__message
-#     follow me!!
-#   = link_to "https://www.faceBook.com/", class: "Contents__Btn Contents__Btn--faceBook" do
-#     = icon('faB', 'faceBook-square',  class: "Contents__Btn--icon")
-#     %span<>
-#       FaceBook
-#   = link_to "https://twitter.com/", class: "Contents__Btn Contents__Btn--twitter" do
-#     = icon('faB', 'twitter', class: "Contents__Btn--icon")
-#     %span<>
-#       Twitter
-#   = link_to "https://www.instagram.com/", class: "Contents__Btn Contents__Btn--instagram" do
-#     = icon('faB', 'instagram', class: "Contents__Btn--icon")
-#     %span<>
-#       Instagram