.Header {
  height: 600px;
  width: 100%;
  background-color: rgb(186, 186, 231);

  display: inline-block;  
  background-image:url("IMG_3513.jpg");
  background-color:rgba(171, 211, 233, 0.8);
  background-blend-mode:lighten;
  background-repeat:  no-repeat;
  background-size: cover;


  &__content {
    display: flex;
    width: 100%;
    &--name{
      text-align: center;
      font-size: 36px;
      padding: 20px 50px 50px 25px;
    }
    &--list{
      width: 100%;
      font-size: 20px;
      padding: 50px 10px 50px 50px;
      color: aliceblue;
      text-align: right;
    }
  }


}


.boby{
  &__PHILOSOPHY{

  }

  &__GREETING{

  }

  &__WORKS{

  }

  &__RECRUIT{

  }

  &__ABOUT{

  }

  &__ACCESS{

  }

  &__CONTACT{

  }

}


.footer{

}






// .Contents {
//   height: calc(100vh - 90px - 20px);
//   width:900px;
//   margin: 0 auto;
//   background-color: #fffacd;
//   &__message{
//     padding: 40px;
//     // color:#ffa500;
//     font-size:30px;
//     text-align: center;
//   }
//   &__btn{
//     display: block;
//     height: 80px;
//     width :360px;
//     margin:0 auto 50px;
//     border-radius: 10px;
//     font-size:20px;
//     color:#fff;
//     text-decoration: none;
//     text-align: center;
//     line-height: 80px;
//     &--icon{
//       padding-right:20px;
//     }
//     &--facebook{
//       background-color: #4169e1;
//     }
//     &--twitter{
//       background-color: #00bfff;
//     }
//     &--instagram{
//       background-color: #fc76bf;
//     }
//   }
// }